# ENCARGO UNIDAD 2 PARTE 1



---

* Nombre: Daniela Ponce

# Secci√≥n 1 - Aplicar metodo kmeans




---

Usando el data set Wine.csv, antes de usar el metodo Kmeans debermos limpiar la dataset con la siguiente rutina.

1- Carga y revision superficial (cantidad de filas y columnas, y tipos de datos) del dataset.
2- Eliminar las columnas que tengan poco aporte predictivo.
3- Revisar la existencia de valores nulos en el dataset.
4- Reemplazar los valores nulos dependiendo del tipo de datos, de ser una variable cuantitativa sera cambiado por la media y en caso de ser una variable cualitativa era cambiado por la moda.
5- Revisar las estadisticas de las columnas restanantes.
6- Transformar las variables cualitativas a numericas, ya que asi estas podran ser usadas en algoritmos mas adelante.
7- Normalizar los datos.
8- Guardar los datos limpios y normalizados en el dataset
7- Realizar un mapa de calor para ver la correlacion entre nuestros valores.

Cargar las librerias a usar

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import array
from numpy import argmax
from sklearn.cluster import KMeans
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn import datasets,linear_model
from sklearn import model_selection
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix,precision_score, accuracy_score, recall_score
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
data1 = pd.read_csv("Wine.csv")

In [3]:
data1.head()

,Alcohol,Malic_Acid,Ash,Ash_Alcanity,Magnesium,Total_Phenols,Flavanoids,Nonflavanoid_Phenols,Proanthocyanins,Color_Intensity,Hue,OD280,Proline,Customer_Segment
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,1
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,1
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,1
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,1
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,1

In [4]:
data1.shape

(178, 14)

In [8]:
data1.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'